*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*variaveis das cores utilizadas no site*/

:root{
    --azul_logo:#03346E;
    --azul: #0095d4;
    --preto: #000000;
    --branco: #ffffff;
} /*fim das variaveis*/

body {
	
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
   
/*Barra de navegação*/
#cabecalho {
	width: 100%;
	margin: 0 auto;
    background-color: var(--azul);
}
    
#logo{
    
    text-indent: -1300px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--branco);
  
}



#logo span{
    color: var(--azul_logo);
}

header{
    padding: 5px 0;
    height: 100px;
    
}

#cabecalho nav ul {
	list-style: none;
	float: right;
    
}

nav ul li {
	float: left;
    
}
nav ul li a{
    color: var(--preto);
    font-size: 13px;
    
}

nav ul li a:link {
	display: block;
    text-decoration: none;
    color: var(--branco);
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
    
}

nav ul  #atual a{
    text-decoration:underline;
    color: var(--branco);
    border-radius: 5px;
}

nav ul li a:hover {
    color: var(--branco);
}/*fim da barra de navegação*/



/*Inicio dos paragrafos "conteudos"*/
.diferencial{
    background-color: #F5F7F8;
    border-radius: 5px;
}
#Titulo_diferencial{
    text-align: center;
    font-size: 20px;
}



p{
    text-indent: 20px;
}

h2{
    text-align: center;

}

/*fim dos paragrafos "conteudos"*/

 /*estilo card*/

 #Titulo_servicos{
    text-align: center;
    font-size: 20px;
 }

 .container-grid {
    display: flex;
    gap: 2.5rem;
    justify-content: center;

}

@keyframes animacao-card {
    from{
        background: white;
        
    }

    to{
        background: var(--azul);
    }
}


.card {
    background-color: #eeeeee;
    width: 15rem;
    height: 15rem; 
    text-align: center;
    border-radius: 5px;
    box-shadow: 20px 20px rgb(0,0,0,0.2);
    animation-name: animacao-card;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card img{
  justify-content: center;
  padding-top: 30px;
}
/*fim dos cards*/






.caixa2{/*inicio dos beneficios*/
    
    background-color: #F5F7F8;
    border-radius: 5px;
}



#texto1{
    text-align: center;
    font-size: 20px;
}


#beneficios{
    line-height: 1.8;
}/*fim dos beneficios*/

footer{
    position:absolute;
  
    height: 3rem;
    width: 100%;
    color: var(--branco);
    background-color: var(--preto);
    text-align: center;
    
}