*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variaveis das cores utilizadas no site*/

:root{
    --azul_logo:#03346E;
    --azul: #0095d4;
    --preto: #000000;
    --branco: #ffffff;
    --verde: #59ce72;
} /*fim das variaveis*/


body {
	
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
   
/*inicio dos conteudos*/

.img_guincho{
    background-image: url(/image/fundo_guincho.jpg);
    background-size: 100%;
    background-position: center;
    height: 20rem;

    font-size: 2.5rem;
    padding: 50px;
    color: var(--branco);
}

.subtitulo_guincho{
    display: block;
}

.botao_whatsapp{
    height: 40px;
    width: 250px;
    background-color: var(--verde);
    color: var(--branco);
    border: none;
    border-radius: 5px;
}

/*estlização cards*/
.Container{
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;

}

.Container .card{
    width: 12rem;
    height: 12rem;
    
}

.Container .card img{
    width: 4rem;
}

