*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variaveis das cores utilizadas no site*/

:root{
    --azul_logo:#03346E;
    --azul: #0095d4;
    --preto: #000000;
    --branco: #ffffff;
    --verde: #59ce72;
} /*fim das variaveis*/


body {
	
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
   
/*inicio dos conteudos*/

.img_guincho{
    background-image: url(/image/fundo_guincho.jpg);
    background-size: 100%;
    background-position: center;
    height: 20rem;

    font-size: 2.5rem;
    padding: 50px;
    color: var(--branco);
}

.subtitulo_guincho{
    display: block;
}

.botao_whatsapp{
    height: 40px;
    width: 250px;
    background-color: var(--verde);
    color: var(--branco);
    border: none;
    border-radius: 5px;
}

/*estlização cards*/
.Container{
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;

}

.Container .card{
    width: 12rem;
    height: 12rem;
    
}

.Container .card img{
    width: 4rem;
}

/*estilização conteudos*/


.servicos_rapido h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;

}

.servicos_rapido p{
    text-align: center;
    font-size: 15px;
    padding: 0 170px 0 170px;
  
}

.maps{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1.2rem;
   
}
.maps iframe{
    height: 500px;
    width: 500px;
    display: block;
    border: none;
}

.text_maps{
    display:grid;
    width: 500px;
    line-height: 2.3rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.text_maps h5{
    font-size: 1.2rem;
   
}

footer{
    position:absolute;
    height: 3rem;
    width: 100%;
    color: var(--branco);
    background-color: var(--preto);
    text-align: center;
    margin-top: 2rem;
}

