/*Barra de navegação*/
#cabecalho {
	width: 100%;
	margin: 0 auto;
    background-color: var(--azul);
}
    
#logo{
    
    
    display: flex;
    text-align: center;
    font-size: 18px;
    color: var(--branco);
  
}



#logo span{
    color: var(--azul_logo);
}

header{
    padding: 5px 0;
    height: 100px;
    
}

#cabecalho nav ul {
	list-style: none;
	float: right;
    
}

nav ul li {
	float: left;
    
}
nav ul li a{
    color: var(--preto);
    font-size: 13px;
    
}

nav ul li a:link {
	display: block;
    text-decoration: none;
    color: var(--branco);
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
    
}

nav ul  #atual a{
    text-decoration:underline;
    color: var(--branco);
    border-radius: 5px;
}

nav ul li a:hover {
    color: var(--branco);
}/*fim da barra de navegação*/
