*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*variaveis das cores utilizadas no site*/

:root{
    --azul_logo:#03346E;
    --azul: #0095d4;
    --preto: #000000;
    --branco: #ffffff;
} /*fim das variaveis*/

body {
	
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
   

/*titulo*/
#Titulo{
    text-align: center;
}

/*inicio card*/
.Integrantes{
    display: flex;
    gap: 2.5rem;
    justify-content: center;

}

.card {
    background-color: #eeeeee;
    width: 20rem;
    height: 30rem; 
    text-align: center;
    border-radius: 5px;
    box-shadow: 20px 20px rgb(0,0,0,0.2);
   
}

.card img{
    width: 20rem;
    height: 20rem;
}



.card ul, li, a{
    color: var(--preto);
    
    list-style: none;
}

/*fim dos cards*/